@CHARSET "UTF-8";

div.numeroPaso1{	
	background: url(cierre1.png) no-repeat;
}

div.numeroPaso2{	
	background: url(cierre2.png) no-repeat;
}

div.numeroPaso3{	
	background: url(cierre3.png) no-repeat;
}


div.numeroPaso1, div.numeroPaso2, div.numeroPaso3{	
	height:100px;
	width:90%;
}

div.paso1, div.paso2, div.paso3{
	
	cursor:pointer;
}

div.contenedorPaso1{
	
	border:1px dotted #AAAAAA;
	width:100%;
	
	
}

div.contenedorPaso2{
	
	border:1px dotted #AAAAAA;
	width:100%;
	
	
}
